html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1336px;
}

.el-breadcrumb {
    margin-bottom: 15px;
}

.el-table {
    margin-top: 15px;
}

.vcenter {
    display: flex;
    align-items: center;
}